.SidebarRows{
    display: flex;
    margin-top: 10px;
    padding: 8px;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
    border-radius: 33px;
    transition: background-color 200ms ease-in;
    transition: transform 200ms ease-in;
}

.SidebarRows:hover {
    background-color: rgb(223, 223, 223);
    transform : scale(1.05);
}


.SidebarRows:hover > .SidebarRows__Icon{
    color: red;
}
.SidebarRows__Icon {
    color: #2E81F4;
}

.SidebarRows > h5 {
    margin-left: 15px;
}