.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f2f5;
    height: 100vh;
}

.Login__logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Login__logo__img1{
    width: 100px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.Login__logo__img2{
    width: 130px;
}

.Login__button {
    margin-top: 300px !important;
    width: 300px;
    background-color: #1278F3 !important;
}